
<p>
  <mat-toolbar>
    <span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </span>

    <span id="text">Performance Management Application</span>
    <span class="example-spacer"></span>
    <span id="countdownTimer">{{timeLeft}}</span>
    <mat-icon id="countdownTimerIcon">timer</mat-icon>
    <span id="name">Hi, {{user[0]?.name}}</span>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="example-icon" aria-label="Example icon-button with share icon">
    <span id="nameIcon" class="material-icons">
      person
      </span>
    </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item disabled>
          <mat-icon>account_circle</mat-icon>
          <span>{{user[0]?.email}}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
  </mat-toolbar>
</p>

<section>
  <nav>
      <span class="material-icons">
      dashboard
      </span>
      <p id="dash"><b>Dashboard</b></p>
      <hr class ="navbarLine"><br>

    <br>
    <span class="material-icons">
      language
      </span>
    <p id="appraisal"><b>Appraisal</b></p>
  <ul>
    <a href="#">
      <li *ngFor="let stage of stages">{{stage.name}} <span class="material-icons clock">access_time</span>
        <span *ngIf="stage.progress == 'Inprogress'" class="navDuration">{{ navbarTimeLeft }}</span>
        <span *ngIf="stage.progress != 'Inprogress'" class="navDuration">{{ stage.startDate | date: "dd'th' MMM" }} - {{ stage.endDate | date: "dd'th' MMM" }}</span>

        <ol>
          <li *ngFor="let content of stage.content">
            <span *ngIf="!stage.completed" class="material-icons">fiber_manual_record</span>
            <span *ngIf= "stage.completed" class="material-icons">check_circle_outline</span>
            <span class="points">{{content}}</span>
          </li>
        </ol>
      <br>
      </li>
    </a>
  </ul>
    <br>
    <hr class ="navbarLine"><br>
    <span class="material-icons">
      restore
      </span>
      <p id="prevAppraisal"><b><a href="#">Previous Appraisals</a></b></p>
  </nav>

  <article>
    <div id="dashboardTitle">
      <p>Dashboard</p>
    </div>
    <div class="grid-container">

      <div *ngFor="let stage of stages" class="boxes">
        <a href="#">
          <span class="stageName">{{stage.name}}</span>
          <div class="container" [ngClass]="{'completed':stage.progress ==='Progressed'}">
            <p *ngFor="let content of stage.content">{{content}}</p>
          </div>
          <span class="duration">{{ stage.startDate | date: "dd'th' MMM" }} - {{ stage.endDate | date: "dd'th' MMM" }}</span>
        </a>
        <br>
        <div class="prog-circle" [ngClass]="{'yts':stage.progress ==='Yet to start'}"></div>
        <hr class="progressed" [ngClass]="{'yts':stage.progress ==='Yet to start'}"/>
        <hr class="inp" *ngIf="stage.progress ==='Inprogress'" />
      </div>
    </div>
  </article>
  <hr style="border-top: dotted 1px;" />
</section>
